.footer{
  background-color: white;
  padding: 0;
  border-top: 39px solid #444344;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  
}
.derbyshire-img{
  width: 100%;
}